.reviews_main {
  border-top: 0.1px solid lightgrey;
  border-bottom: 0.1px solid lightgrey;
  padding: 2vh 0;
}

.reviews_main {
  display: flex;
  flex-direction: column;
}

.above_review {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 15vw;
}

.allReviews_moment {
  color: #999999;
  font-size: 12px;
}
