# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

</script>
  <script type="text" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_YlCTpwtIKc9Crz2QlvjZKsqP4t7mqFQ&libraries=places&callback=activatePlacesSearch"></script> -->
