.addlistingmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadimg {
  height: 125px;
  width: 125px;
}

.amenitiesmain {
  display: flex;
  flex-direction: column;
}

.upload {
  padding: 1vh 1vw;
  background-color: #c5c5c5;
  color: white;
  box-shadow: 0 8px 6px -6px black;
  margin: 2vh 0 3vh 0;
  border-radius: 5px;
  padding: 1vh;
}

.add_list {
  margin-bottom: 3vh;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#place {
  width: 50vw;
}

.submit_cancel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3vh 5vw;
}

#submit_cancel_fonts {
  box-shadow: 0 8px 6px -6px black;
  color: white;
  padding: 1vh;
  border-radius: 5px;
}

.add_submit {
  background-color: #ff4f54;
}

.add_cancel {
  background-color: #444444;
}
