.properties_main {
  margin: 10px 20px 20px 20px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.top_of_search {
  border: 1px solid red;
  display: flex;
  /* align-items: center;
  justify-content: right; */
  /* float: right; */
}

#properties_search {
  margin: 0 0 35px 0;
  /* display: flex;
  align-items: center; */
}

.all_properties {
  /* display: flex;
  flex-direction: column; */
  /* background-color: red; */
  /* flex-wrap: wrap; */
}

.properties_solo_property {
  /* display: flex;
  flex-direction: column; */
  height: 300px;
  width: 80%;
  margin: 15px 0;
  /* border: 0.5px solid red; */
  position: relative;
  color: #3f3f3f;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 100px;
}

.propertiesimg {
  height: 130px;
  /* width: 150px; */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#like-btn {
  position: absolute;
  font-size: 20px;
  top: 15px;
  right: 25px;
  z-index: 2;
}

/* heart like button */
#like-btn:hover {
  cursor: pointer;
  color: #cd0928;
}

#like-btn.not-liked {
  color: #ffffff;
}

#like-btn.not-liked:hover {
  color: #cd0928;
}

#like-btn.liked {
  color: #cd0928;
}

.over_top {
  border: 1px solid red;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

#properties_card_text {
  justify-content: space-between;
  margin-top: 5px;
}

.properties_beds_baths {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.properties_rate_font {
  color: #9b9b9b;
  font-size: 15px;
  font-weight: 100;
}

.properties_review_count {
  margin-left: 10px;
  font-size: 14px;
}

@media (min-width: 740px) {
  /* .properties_main {
    margin: 10px 20px 20px 20px;
    display: flex;
    flex-direction: wrap;

  } */
  .all_properties {
    /* display: flex; */
    /* flex-direction: none; */
    background-color: red;
    /* flex-wrap: wrap; */
    /* width: 500px; */
  }
}

/* .over_top {
  width: 100vw;
  background-color: yellow;
} */
