.propertieslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 90vw;
  margin: 45px auto;
  border: 0.5px solid lightgray;
  position: relative;
}

#propertiesimg {
  height: 150px;
  width: 250px;
  background-color: lightgray;
  position: relative;
  z-index: 1;
}

#like-btn {
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 2;
}

/* heart like button */
#like-btn:hover {
  cursor: pointer;
  color: #cd0928;
}

#like-btn.not-liked {
  color: #ffffff;
}

#like-btn.not-liked:hover {
  color: #cd0928;
}

#like-btn.liked {
  color: #cd0928;
}
