.home-all {
  margin: 0 20px 20px 20px;
  /* for larger screens */
  /* margin: 0 40px 40px 40px; */
}
.homemain {
  height: 91vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(217, 217, 217, 0.8),
      rgba(77, 77, 77, 0.8)
    ),
    url("../../images/test222.jpg");

  background-size: cover;
  background-position: top;
  position: relative;
  /* margin: 0 40px 40px 40px; */
  /* margin: 2vh 8vw 15vh 15vw; */
}

.header_text-box {
  position: absolute;
  top: 30%;
  /* larger screens 
  top: 40%;
  */
  text-align: center;
  /* color: #fff; */
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
}

.enterbutton {
  font-size: 30px;
  color: #fff;
  text-decoration: underline;
  /* text-decoration: unset; */
  /* margin-bottom: 20px; */
  /* font-style: italic; */
}
/* .enter_box {
  border: none;
  width: 150px;
  border-radius: 100px;
  background-color: rgb(179, 179, 179);
  box-shadow: 0 8px 6px -3px black;
} */

.search {
  position: relative;
  margin: 100px;
}

.search input {
  text-indent: 20px;
  outline: none;
  padding: 4px;
  width: 150px;
  border: 1px solid rgba(217, 217, 217, 0.8);
  box-shadow: 0 8px 6px -6px black;
  color: #b2b2b2;
  font-weight: bold;
  font-size: 12px;
  /* for larger screen
  width: 250px; 
  text-indent: 30px;
  padding: 7px
  */
}

.search #my_search {
  position: absolute;
  top: 4px;
  padding-left: 5px;
  color: rgb(128, 128, 128);
  /* color: red; */
  /* right: 1px; */
  /* left: 1px; */
  /* font-size: 15px; */
}

::placeholder {
  color: #b2b2b2;
  font-weight: bold;
  font-size: 12px;
  /* color: green; */
  /* opacity: 1; */
}

.searchproperty {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search_results_text {
  margin: 20px 0 5px 0;
  font-size: 17px;
}

@media (min-width: 765px) /* and (max-height: ) */ {
  .search input {
    width: 250px;
    text-indent: 30px;
    padding: 7px;
  }
}
