.propertymain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin: 25px; */
  margin-bottom: 100px;
  /* height: 90vh; */
  /* padding: 30px; */
}

#propertyimg {
  /* background-color: lightcoral; */
  height: 30vh;
  /* width: 80vw; */
  /* height: 91vh; */
  /* width: 60vw; */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#like-button {
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 2;
}

#avatarimg {
  height: 3vh;
  width: 3vh;
  border-radius: 100px;
}

.propertytitle {
  font-size: 30px;
  font-weight: bold;
}

.amenities {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.1px solid lightgrey;
  height: 15vh;
  /* height: 50px; */
}

#amenitiestitle {
  font-weight: bold;
}

.bedbath {
  display: flex;
  justify-content: space-around;
  /* color: red; */
}
.bedbath i {
  color: #404040;
}

/* heart like button */
#like-button:hover {
  cursor: pointer;
  color: #cd0928;
}

#like-button.not-liked {
  color: #ffffff;
}

#like-button.not-liked:hover {
  color: #cd0928;
}

#like-button.liked {
  color: #cd0928;
}

/* i {
  color: red;
} */

.delete_btn {
  display: flex;
}

.price_contact_sticky {
  height: 10vh;
  border-top: 2px solid #d6d6d6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff4f54;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sticky_contact {
  color: #ffffff;
  background-color: #ff4f54;
  height: 50px;
  width: 35%;
}
.contact_font_sticky {
  color: white;
}
