.whole_card {
  margin: 5px 0;
  display: flex;
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 900;
  height: 190px;
}

.singleimg {
  height: 94px;
  background-size: cover;
  background-position: center;
}

.singlecard {
  width: 142px;
}

.single_city {
  color: #912b3b;
}

.ratings_main {
  display: flex;
}
.single_count {
  margin-left: 8px;
  font-size: 12px;
}
.rate_font {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 100;
}
.single_card_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 92px;
}

.single_card_prop_title {
  line-height: 15px;
}

@media (min-width: 380px) {
  .whole_card {
    margin: 5px 0;
    font-size: 13px;
    height: 190px;
  }

  .singleimg {
    width: 170px;
  }

  .singlecard {
    width: 170px;
  }

  .ratings_main {
    display: flex;
  }
  .single_count {
    margin-left: 8px;
    font-size: 12px;
  }
  .rate_font {
    font-size: 12px;
    font-weight: 100;
  }
  .single_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 92px;
  }

  .single_card_prop_title {
    line-height: 15px;
  }
}

@media (min-width: 460px) {
  .whole_card {
    margin: 10px 0;
    font-size: 13px;
    height: 170px;
  }

  .singleimg {
    width: 200px;
  }

  .singlecard {
    width: 200px;
  }

  .ratings_main {
    display: flex;
  }
  .single_count {
    margin-left: 8px;
    font-size: 12px;
  }
  .rate_font {
    font-size: 12px;
    font-weight: 100;
  }
  .single_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 73px;
  }

  .single_card_prop_title {
    line-height: 15px;
  }
}

@media (min-width: 540px) {
  .whole_card {
    margin: 13px 0;
    font-size: 13px;
    height: 250px;
  }

  .singleimg {
    height: 170px;
  }

  .singlecard {
    width: 240px;
  }
  .single_count {
    margin-left: 8px;
    font-size: 12px;
  }
  .rate_font {
    font-size: 12px;
    font-weight: 100;
  }
  .single_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80px;
  }

  .single_card_prop_title {
    line-height: 15px;
  }
}

@media (min-width: 760px) {
  .whole_card {
    margin: 10px 0;
    font-size: 15px;
    height: 252px;
  }

  .singleimg {
    width: 320px;
  }

  .singlecard {
    width: 320px;
  }
  .single_count {
    margin-left: 10px;
    font-size: 13px;
  }
  .rate_font {
    font-size: 14px;
    font-weight: 100;
  }
  .single_card_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85px;
  }

  .single_card_prop_title {
    line-height: 15px;
  }
}
