.navmain {
  /* background: #333333; */
  background: rgb(255, 255, 255);
  margin: 5px 20px;
  /* higher screen 
  margin: 15px 20px;
  */
  padding: 0 10px;
  /* opacity: 0.5; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 10px; */
}

.userimg {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}
/* .navmain {
  width: 100vw;
  background: black;
} */

/* .nav_links {
  height: 5vh;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
} */

/* .nav_links {
  height: 10vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: center;
} */

a {
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
  color: #404040;
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  /* padding: 20px; */
  /* margin: 20px; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 400px; */
  /* padding-right: 0;
  margin-right: 0; */
}
.full-nav-links {
  display: none;
  /* display: flex; */
  width: 400px;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

@media (min-width: 765px) {
  .full-nav-links {
    display: flex;
  }
  .navmain {
    padding: 15px 40px;
  }
}
