.navmain {
  background: black;
}
/* .navmain {
  width: 100vw;
  background: black;
} */

/* .nav_links {
  height: 5vh;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
} */

/* .nav_links {
  height: 10vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: center;
} */

a {
  text-decoration: none;
  color: white;
}
